/* @media mo {
    
}
    font-family: 'Bungee Outline';
    src: url('./fonts/BungeeOutline-Regular.ttf');
} */



.bungee-outline-regular {
    font-family: "Bungee Outline", sans-serif;
    font-style: normal;


}

/* mern stack */
.science-gothic-regular {
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "CTRS" 0;
}

/* below text */

.playfair-display-regular {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* about me */
.bungee-spice-regular {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.playwrite-nz-guides-regular {
    font-family: "Playwrite NZ Guides", cursive;
    font-weight: 400;
    font-style: normal;
}

/* toogle button */
.nixie-one-regular {
    font-family: "Nixie One", system-ui;
    font-weight: 400;
    font-style: normal;
}


/* ribbon text title on skill section */

.ibm-plex-mono-thin {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    font-style: normal;
}




/* get information .. */
.caveat-regular {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* dev logo font  */
/* .fugaz-one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
} */


.fugaz-one-regular {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.orbitron-regular {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}